<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <%- include partials/_header.ejs %> 
  <!-- List of URL's -->
  <h6>Here are the List of URL's</h6>
    <ul>
      <% for (let url in urls) { %>
        <form method="POST" action="/urls/<%= url %>/delete"> 
          <li>
            <%= url %> -> 
            <a href=<%= urls[url] %>>
            <%= urls[url] %>
            </a>
            <p>root:<%= root %></p>
            <a href="<%= root %>urls/<%= url %>/update">Edit URL</a>
            <input type="submit" name="delete">
          </li>
        </form>
     <% } %>
    </ul>
</body>
</html>

