<!DOCTYPE html>
<html lang="en">
<head>
  <title>List of URLs</title>
</head>
<body>
  <%- include partials/_header.ejs %>
  <h2>Here are the List of URL's</h2>
  
  <table>
    <tbody>
      <form method="POST" action="/urls">
        <tr>
          <th>tiny URL</th>
          <% if (loggedIn) { %>
            <th>long URL</th>
          <% } %>
        </tr>
        
        <% for (var url of urls) { %>
        <tr>
          <td> <%= url.tinyURL %> </td>
          <% if (loggedIn) { %>
            <td><%=url.bigURL%></td>
            <td><a href="<%=root%>urls/<%=url.tinyURL%>/update">Edit URL</a></td>
            <td><input type="submit" name="delete" value="Delete URL"></td>
          <% } %>
        </tr>
      <% } %>
      
      </form>
    </tbody>
  </table>
</body>
</html>
